<div id="NEWS" class="news">
	<div class="container">
		
		<div class="section">
			<div class="header">
				Frequently Asked Questions
			</div>
			<div class="item" ng-repeat="nw in newsArr track by $index">
				<div class="icon"><img src="" alt=""></div>
				<div class="text">{{nw.news}}</div>
			</div>
			<div class="item">
				<div class="icon"><img src="" alt=""></div>
				<div class="text">
					news:"IMS invited for a presentation and demo at Diabetes Mine D-data Exchange <a href='https://www.healthline.com/diabetesmine/digging-fall-2017-diabetesmine-ddata-exchange#2' target="blank">Event(https://www.healthline.com/diabetesmine/digging-fall-2017-diabetesmine-ddata-exchange#2)" </a>
				</div>
			</div>
							

		</div> 
	</div>

</div>